<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415086576716-10d4ecd3odql1jhcfhg6onerfpmig67k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415086576716-10d4ecd3odql1jhcfhg6onerfpmig67k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415086576716-jch00k1vjon9oracnig97etoio1i8too.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4_qXIIr1Mx8oRlqSF2bkgwiqvuMc58HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>415086576716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kwest</string>
	<key>PROJECT_ID</key>
	<string>kwest-766e9</string>
	<key>STORAGE_BUCKET</key>
	<string>kwest-766e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415086576716:ios:aa30f549289f580da0e0e9</string>
</dict>
</plist>